.icon-image{
  width: 30px;
  padding: 0px;
  cursor: pointer;
  height: 25px;
  margin-right: 4px;
}
.skill-section{
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
}
 
@media screen and (min-width: 768px) {
    .skill{
      font-size: 15px;
      margin-left: 2px;
    }
    .icon-image{
        margin-left: 3px;
    }
}
