.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    text-align: center;
    font-size: 36px;
  }
.section__text__p1 {
    text-align: center;
}

.exp-edu-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-pic {
    border-radius: 2rem;
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}
@media screen and (min-width: 500px) {
    .about-pic{
        width: 230px;
        height: 230px;
    }
}
@media screen and (min-width: 768px) {
    .about-pic{
        width: 260px;
        height: 260px;
    }
}
@media screen and (min-width: 1100px) {
    .about-pic{
        width: 370x;
        height: 370px;
    }
}
.about-sec-icon{
    font-size: 30px;
}


.about-details-container {
    padding: 1.5rem;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    width: 180px;
    margin: 10px;
    height: 94px;
}
h3{
    font-size: 16px;
}

  .text{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .bg-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  
  @media screen and (min-width:768px) {
    .title{
        font-size: 55px;
    }
    .section__text__p1{
        font-size: 20px;
    }
    .about-pic{
        width: 30%;
    }
    .about-details-container{
        width: 180px;
        height: 110px;
    }
    .about-sec-icon{
        font-size: 42px;
    }
    h3,p{
        font-size: 20px;
    }
    .bg-details{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  }

@media screen and (min-width: 1300px) {
    h3,p{
        font-size: 20px;
    }
    .title{
        font-size: 44px;

    }
    .section__text__p1{
        font-size: 18px;
    }
    .about-pic{
        width: 340px;
        margin-left: 20px;
    }
    .exp-edu-section{
        display: flex;
        flex-direction: row;
        margin: 10px;
    }
    .exp-edu{
        margin-left: 10px;
    }
    .about-details-container{
        width: 200px;
        margin-top: 20px;
    }
    .text{
        padding-top: 20px;
    }
    .view-btn{
        width: 120px;
        height: 33px;
    }
    
}

.view-btn {
    font-weight: 600;
    transition: all 300ms ease;
    width: 100px;
    border-radius: 2rem;
    height: 29px;
    padding: 4px;
    margin-top: 8px;
  }